---
layout: base.njk
pageTitle: About — Redcontroldeck
---

<div class="page-header container">
  <h1>ABOUT</h1>
</div>

<div class="about-page container">
  <div class="about-body">
    <p>Redcontroldeck is some combination of a visual metaphor and a misinterpreted lyric. It is a black box from which things emanate. It's a thermin for various bits and things. </p>
    <p></p>
    <p>Is it "rent-controlled den" -- or maybe it's "red control deck"? It is not a company. It does not explain itself too much.</p>
  </div>
</div>
